/******** GENERAL*******/

a {
	text-decoration: none;
	color:#6606ff;
}

#wrapper{
	max-width: 940px;
	margin:auto;
	padding: 0.5%;
	background: lightblue; 
}
#logo{ text-align: center;
		margin: 0;		
		}	

header 

		{ 
			float:left;
			margin: 0 0 30px 0;
			padding:5px 0 0 0;
			width: 100%;
			background: #1C2833;
			border-color:#FDFEFE;
		}
#galeria
		 { margin: 0;
		 	padding: :0;
		 	list-style:none;
}

#galeria  li { float: left;
		 	max-width: 20 %;
		 	margin: 0.5;
		 	background-color:#f5f5f5;
		 	color: #bdc3c7;
		 	/**sin unir %fotos bajo en el pie d pag (o auto)**/
}
#galeria li a p { margin: 0;
				padding: 5%;
				font-size: 0.75em;
		 	 	color:#b763c7;
}


/***********     **********/
h1,h2 {
	color: #ABD6F1;
}
h1 {
	font-family: 'Oswald', sans-serif;
	margin: 15px 0; 
	font-size: 4em;
	font-weight: normal;
	line-height: 0.9em;
}	


/******** NAVEGAR*****/
nav{
	background: #FAD7A0;

}
nav a{
	color: #F39C12;
}

nav a.selected {
	color: #000;
}
nav a:hover
{
	color: #32673f;
}
nav ul {
		list-style: none;
		margin:0 10px;
		padding: 0;
}
nav li {
	display: inline-block; }
	}
nav a {
	font-weight:800; 
	padding: 15px 10px;
}
		nav a {
	color:#F39C12;
}


/*****footer*******/

footer

{
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}
.social-icon
{
	width: 30px;
	height: 30px;
	margin: 0.5px;
}
.profile-photo
{
	display: block;
	max-width: 900px;
	margin: 0 auto 30px;
	border-radius: 100%;
}

.contact-info {
	
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
	}
	.contact-info a {
	display: block;
	min-height:  20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding:  0 0 0 30px;
	margin: 0 0 10px;

	/***iconos de contacto***/

	}

.contact-info li.phone a{
	background-image: url('../img/phone.png');
}
.contact-info li.mail a{
	background-image: url('../img/mail.jpg');
}	
.contact-info li.twitter a{
	background-image: url('../img/twitter.png');
}	

.carrera-info {
	
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
	}
.carrera-info a {display: block;
	
	min-height:  20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding:  0 0 0 30px;
	margin: 0 0 10px;
}
.carrera-info li.telecomunicaciones a{
	background-image: url('../img/telecomunicaciones.jpg');
}
.carrera-info li.desarrolloempresarial a{
	background-image: url('../img/desarrolloempresarial.png');
}	
.carrera-info li.biologiamarina a{
	background-image: url('../img/biologiamarina.jpg');
}	


